
body{
font-family: "Titillium Web", sans-serif;
margin:0;
padding: 0;
color: #8e9696;
overflow-x: hidden;
}


/* top nav bar */

.container{
	margin-top: 250px;
}

.btn{

	background: #ff4745;
	border-radius: 30px;
	color:white;
	max-height: 43px;
	border-color: lightgray;
}


h1{
	color: #143d3c;
}

.container h1+p {
	margin-top: 30px;
}

 hr{

 	width: 90%;
 	margin-top: 60px;

 }


input{
	opacity: 0.5;
}

textarea{
	opacity: 0.5;
}

/* ********************************** top nav bar ************************************ */



#topnavbar{

     border: 1px hidden black;
	 background: #262626;
	 height: 60px;
	 width: 100%;
	 
}

/* logobrand*/


.logo-brand{
     	
	margin-top: 10px; 
	margin-left: 150px;
	float: left;

}

/* button buy */
.buy-button{

	float: right;
	margin-top: 12px;

}

.remove-frame{
	
	float: right;
	margin: 10px;
	border-left: 1px solid lightgray;
}


.topnavbar .removeframe{

	font-size: 13px;
}


.listend{

	border-left:1px solid lightgray;

}

.topnavbar .logo{

	margin-top: -15px;

}



@media screen and (max-width: 1155px){

.topnavbar .framelink .removeframe{

	display: none;

}
}


.btn-buy{

	border-radius:4px;
	background: green;
	max-height: 55px;
	font-size: 15px;
	max-width: 100px;
	position: absolute;
	margin-left: -95px;
	max-width: 150px;
	margin-top: -3px;
	border-color: green;

}


.btn-buy .buynow{

	margin-top: -15px;
}



@media screen and (max-width: 1590px){

   .topnavbar{
   	width: 100%;
   }

   .remove-frame span{
   	display: none;
   }

}

/* *** correction the position of logo on the top navbar *** */


@media screen and (max-width: 1645px){
	.logo-brand{
		
		margin-left: 30px;
	}
}

/* ** button hamburger ** */

.contnav .navbar-toggler i{

	margin-left: 25px;
	background: #fe6d34;
	font-size: 35px;
	margin-top: -5px;
}

.navbar-toggler{

	border: none;
	background: white;
}

@media screen and (max-width: 522px){
	#topnavbar{
		transform: scale(1.03);
	}
}

@media screen and (max-width: 350px){

.logo-brand{
		
		margin-left: 2px;
	}

.remove-frame{
	margin-left: 2px;
}

}

/* ********************************** second nav bar ********************************* */

.navbar{
	
	
	border:1px hidden black;
	position: relative;
	max-width: 1050px;
	margin: 0 auto;
	background: transparent;

}

.navbar .navbar-collapse ul{
	position: absolute;
	right: 320px;
}


.navbar .texteetnum{

	position: absolute;
	bottom: -10px; 
    right: 50px;

}

.navbar .navbar-toggler{
border: none;
}

.navbar .navbar-toggler span{
	position: absolute;
	bottom: 20px;
  right: 20px;
}


.texteetnum{
		position: absolute;
	bottom: 20px;
  right: 50px;

}

.texteetnum .media-body .number{
	color: #272063;
	font-size: 20px;
}


.texteetnum .media{

	margin-top: -50px;
}

.texteetnum .media-body{

	line-height: 1.5;
	margin-top: -15px;
}

.texteetnum i{

	font-size: 35px;
	margin-top: -10px;
    
}

.icon{

	color: #ff4745;
}

#navbarSupportedContent ul li{

	display: inline-block;
    text-decoration: none;
    padding: 10px;
    color:  #9290a3;

}

#navbarSupportedContent ul li:nth-child(1){

	border-bottom: 2px solid #f83600;
}

#navbarSupportedContent ul li:hover{

	border-bottom: 2px solid #f83600;
}


.p-2 li{

	margin-top: 20px;
}

@media screen and (max-width: 1012px){

	.texteetnum{

		display: none;
	}
	
}


@media screen and (max-width: 990px) and (min-width: 320px){

#navbarSupportedContent ul li{
	display: block;
	background: white;
	text-align: center;
	border-bottom: 1px solid black;
	
	
}

#navbarSupportedContent ul{
	background: white;

}

.navbar .navbar-collapse ul{
	position: absolute;
	right: 5px;
	margin-top: 43px;
}

.navbar{
	background: white;
}

.navbar .navbar-toggler{
	border: none;
}
}

/* *** modify navbar width *** */

@media screen and (max-width: 522px){
	#topnavbar{
		transform: scale(1.04);
	}
}



@media screen and (max-width: 524px){
	#topnavbar{
		transform: scale(1.06);
	}
}

/* ************************** Slider section: a full service creative *********************  */


ul li{
	display: inline;
	padding: 30px;
}

.needhelp{
	position: absolute;
	margin-left: 920px;
	margin-top: -85px;

}

/* ** first title in first slide ** */
.full-service-title{

  font-size: 75px;
  color: black;
}

.slidercontainer{

	margin-top: -300px;
	z-index: -5;
}


#carouselExampleFade{

	z-index: -5;
	margin-top: -130px;
}

/* ** first image ** */

.carousel-inner .active img{

margin-left: -20px;

}

.carousel .active .btn1{

	border: 1px hidden black;
	min-height: 20px;
	max-width: 120px;
	border-radius: 20px;
	margin-top: -10px;
	background:  #ff4745;
	color:white;
	text-align: center;
	
}

.carousel-inner .carousel-item:nth-child(2) h5{

	color: black;

}

.carousel-inner .carousel-item:nth-child(2) .creative{

	color: gray;
	font-size: 15px;
	margin-left: -170px;
}


.carousel-inner .active .centered .btn{

	font-size: 13px;
	
}


/* *** h1 first slider color *** */

.carousel-inner .active .centered h3{

	color: #272063;
	margin-top: -35px;

}

.carousel-inner .active .centered h3 + p{

	margin-top: -5px;
}


.carousel-inner .active .centered p{

font-size: 13px;

}

.carousel-inner .active .centered p + button{

	
	margin-top: -10px;
}

/* ** center text on a slide ** */
#carouselExampleFade .active .centered{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:black;

}

.carousel-inner .active img{
   max-width: 100%;
    height: auto;
}

.carousel-inner .carousel-item:nth-child(2) span + h1{

	margin-top: 13px;
}

.carousel-inner .carousel-item:nth-child(2) button{

	font-size: 13px;

}


.carousel-item:nth-child(2) .quotabutton{
	height: 10px;
	min-width: 135px;
	border-radius: 40px;
	background: #ff4745;

}

@media screen and (max-width: 895px) and (min-width: 675px){

	.carousel-inner .active .centered .btn{

	font-size: 10px;
	margin-top: -25px;
	opacity: .5;
}
}

@media screen and (max-width: 677px){

	.carousel-inner .carousel-item:nth-child(2) img{
		display: none;

	}
}

@media screen and (max-width: 673px) and (min-width: 529px){


.carousel-inner .active .centered .btn{

	
	font-size: 10px;
	margin-top: -30px;
	
}

.carousel-inner .active .centered p{

	
	font-size: 10px;
	
}
}

@media screen and (max-width: 561px) and (min-width: 320px){

.carousel-inner .active img{
	
	height: 400px;
	width: 750px;
}

.carousel-inner .active .centered p{

	line-height: 1.5;
	font-size: 10px;
	
}

.carousel-inner .active .centered h1{

	font-size: 20px;
	
}

.carousel-inner .active .centered{

	margin-top: -30px;
	
}

.carousel-inner .active .centered p + .btn{

	margin-top: -25px;
	
}
}


/* ***********  section: we made plan and we do success our plan 1350 ************ */

.section-made-plan{

	margin-top: 100px;
	max-width: 1050px;
}

.wemadecards{
	max-width: 1300px;
	margin-top: 50px;
}

.plan-made-title{

font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 37px;
color: #272063;
margin-top: 30px;
font-weight: bolder;

}

.under-plan{

	color: red;
}

.under-plan span{

	color: #272063;
}

/* ** texte made plan section ** */
.texte-section-made-plan{

	font-size: 15px;
	margin-top: 35px;
	line-height:27px;
	margin-top: 25px;
	
}


.navcontainer{

	border: 1px solid black;
	height: 190px;
	max-width: 65%;
	margin-top: 10px;

}

.leading{

	max-height: 1300px;
	margin-top: 150px;
}


/* ********** Global Network ******* */



.title-1{

	font-size: 24px;
	color: #272063;
}


.cards i{
	font-size: 55px;
	color:  #ff4745;
    transform: scale(1);
    margin-top: 5px;
}

.cards a{

	text-decoration: none;
	color: lightgray;
    
}

.title-1:hover{

	color: #ff4745;

}

.cards i:hover{
	transform: scale(1.1);
}

.image-back-1{
	
    float: right;
	margin-top: -190px;
	z-index: -5;
}

.media{
	margin-top: 150px;
}

.media-body{
	line-height: 25px;
}

.media-body .readme{
	margin-top: -80px;
	color: gray;
}

.readme:hover{
	color: #272063;
}

/* ***** hidding image-back-1 ***** */

@media screen and (max-width: 1222px){
	.image-back-1{
		display: none;
	}
}



/* ********** section : we are leading international Consulting Agency *********** */

.agency-title{

font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 38px;
color: #272063;
margin-top: 50px;
font-weight: bolder;

}



.check-icon{

	font-size: 33px;
	margin-top: 8px;
	color: #272063;

}

/* ** contact button ** */

 .bouton-contact-us{
	
	width: 170px;
	font-size: 13px;
	min-height: 55px;
	border-radius: 70px;
	background: #ff4745;
	border-color: #ff4745;
	color: white;
	margin-top: 25px;
	border: none;
}

.texte-liste{
	font-size: 18px;
	color: #9290a3;
	font-family: inherit;
	line-height: 1.75;
}

.top-texte{
	color: #9290a3;
	font-size: 18px;
	line-height: 1.75;
	    font-family: inherit;
}
/* **** image-back-1 ***** */

.image-back-2{
	
    float: right;
	margin-top: -151px;
	z-index: -5;
	margin-right: 61px;
}

.media-liste{
	margin-top: 10px;
	line-height: 1.5;
}

.media-liste i{
	margin-top: 30px;
	font-size: 35px;
}
p + .media{
	margin-top: 35px;
}

.leading{
	max-width: 1300px;
}

.leadingimg{
	margin-left: -90px;
}

@media screen and (max-width: 1000px){
	.leadingimg{
		display: none;
	}

	.image-back-3{
		display: none;
	}
}

/* ajustement de travel & tour */

@media screen and (max-width: 990px){

	.travelandtour{
		margin-top: 100px;
	}

}


/* *********** section: what we do ************** */

.whatwedo{

	max-width: 1200px;
	margin-top: 100px;
}

.containercards{
	margin-top: -50px;
	max-width: 1200px;
}

.containercards .whatwedocards .media{
	margin-top: -20px;
}



.whatwedo span:nth-child(1){

	font-size: 17px;
	letter-spacing: 2.5px;
}

.whatwedo span+h1{

	margin-top: 17px;
}

.whatwedocards{
	margin-top: 150px;
	float: center;
}

.whatwedocards i{

font-size: 70px;
color: #ff4745;

}

.title-2{

	font-size: 35px;
	color: #272063;
}

.texte-card{
	max-width: 330px;
	font-size: 14.5px;
	word-spacing: 1px;
	line-height: 2;
}

.section-2{
	margin-top: 100px;
}

.links{
	color: #a09db9;
}

/* hover effect on links */

.links:hover {
	color: #272063;
}

/* hover effect on titles */
.title-2:hover{
	color: #ff4745;
}

.image-back-3{

	float: left;
	z-index: -5;
	margin-top: -110px;
	margin-left: 40px;
}

.agency-title{
	font-size: 40px;
}


@media screen and (max-width: 765px){
	.investment{
		margin-top: 70px;
	}
}
/* ******* client feedback ****** */

.feedback-client{
	max-width: 1300px;
	margin-top: 150px;
}

.feedback-client span{

	letter-spacing: 2px;
}


.image-back-4{

	float: left;
	margin-top: -580px;
	margin-left: 200px;
	animation: pop linear 3s infinite;

}

.image-back-4-1{

	float: left;
	margin-top: -290px;
	margin-left: 10px;
	animation: pop linear 5s infinite;
}

.image-back-4-2{

margin-top: -120px;
margin-left: 180px;
animation: pop linear 3s infinite;

}

.image-back-5{
	
	float: right;
	margin-top: -610px;
	margin-right: 190px;
	animation: pop linear 4s infinite;
}

.image-back-5-1{
	
	float: right;
	margin-top: -430px;
	animation: pop linear 5s infinite;
}

.image-back-5-2{
	
	float: right;
	margin-top: -170px;
	margin-right: 190px;
	animation: pop linear 4s infinite;
}


@keyframes pop{

	0%{ transform: scale(0.8)}
	20%{ transform: scale(0.8)}
	50%{ transform: scale(1)}
	70%{ transform: scale(1)}
	100%{transform: scale(0.8)}
}



.quotebloc{

	border: 1px solid lightgray;
	margin-top: 80px;
}

.feedback-client .media{
	margin-top: 50px;
}

.feedback-client h1{

	color: #272063;
	margin-top: 15px;
}


.feedback-client .media-body p{

	font-size: 26.5px;
	line-height: 2;
	color: #272063;
	
}


.feedback-client .media-body footer{

	color:  #ff4745;
	font-size: 20px;
}

.feedback-client .media-body cite{

	color: gray;
	font-size: 16px;
}


.feedback-client .media-body{

background: url('image/quote-shape-2.png') no-repeat;
background-position: center;
background-size: 130px;

}

/* ** hidding client photos at 1484px ** */

@media screen and (max-width: 1484px){

.image-back-5 {
	display: none;
}

.image-back-5-1 {
	display: none;
}

.image-back-5-2{
	display: none;
}


.image-back-4{
	display: none;
}

.image-back-4-1{
	display: none;
}

.image-back-4-2{
	display: none;
}
}


/* ******************** our work ****************** */

.ourworkcontainer {

	border: 1px hidden black;
	max-width: 1205px;
	margin-top: 150px;	
}

.ourworkcontainer span{

	letter-spacing: 2px;
}

.ourworkcontainer h1{

	font-size: 45px;
}

.ourworkcontainer ul li{

	padding: 15px;
}


.ourworkcontainer .bodylist{
	
	height: 50px;
}

.ourworkcontainer .bodylist ul{
	text-align: center;
	margin-top: 60px;
}



@media screen and (max-width: 517px){

	.ourworkcontainer .bodylist ul{
		text-align: left;
	}

	.ourworkcontainer li{
	border-bottom: none;
    
}

.ourworkcontainer li:nth-child(1){
	border-bottom: none;
}

}


.ourworkcontainer h1+ul {
	margin-top: 70px;
}

.ourworkcontainer span+h1{
	margin-top: 10px;
}

.ourworkcontainer ul{

	margin: 0 auto;
}

.ourworkcontainer li{

	border-bottom: 4px solid #f3f7f9;
    font-size: 20px;
}


@media screen and (max-width: 512px) and (min-width: 320px){

	.ourworkcontainer li{
	border-bottom: 4px solid white;
    
}

}



.ourworkcontainer a{

	text-decoration: none;
	color:#9290a3;
}

.ourworkcontainer li:nth-child(1){

	border-color:#ff4745;
}

.ourworkcontainer li:hover{

	border-color: #ff4745;
}

.image-work{

	margin-top: 70px;

}


/* ****** section : intellignet websites ******** */

.major-container-website{
	
	margin-top: 150px;
}

.title-3{

	font-size: 55px;
	color:#272063;
	font-family: "Rubik";
	z-index: 10;
}

.intelligent-container{

	margin-top: 100px;
}

.intelligent-container p{

	font-size: 95px;
	color: #ff4745;
}

.intelligent-container span{

	color: #272063;
	font-size: 33px;
	font-family: "Rubik";
}

.back-intelligentwebsite .image-back-3{

	float: right;
	margin-top: -1050px;
	height: 950px;
	margin-right: -15px;
	max-width: 750px;

}
/* ****** Our expert **** */

.our-expert{

	margin-top: 130px;
	border: 1px hidden black;
	max-width: 1300px;
}

.our-expert span + h1{

	margin-top: 20px;
}

.client-image{

	margin-top: 50px;
}

.client-image h5{

	font-family: "Poppins", sans-serif;
	color:#272063;
	margin-top: 30px;

}

.our-expert .card{

	margin-top: 150px;

}

.our-expert .card .card-title{

	color: #272063;
	font-size: 25px;
	line-height: 1.5;
}

.our-expert .card .name{

	color: #ff4745;
}

.our-expert .card .date{

	color:#272063;
}

.our-expert .card .comments{

	color:#272063;
}




/* ******** image background ********* */

.back-ourteam .image-back-3{

	margin-top: -1490px;
	margin-left: -3px;
	height: 800px;
}

/*******************************************/

.blogfeed .row{
	margin-top: -80px;
}

.blogfeed .card .date{
	color: #50567f;
}

.blogfeed .card .comments{
	color: #50567f;
}

/* **** newsletter **** */


.card-container h1{

	color:#272063;
	font-size: 40px;
	font-family: "Poppins", sans-serif;
}


.newsletters span{

	font-size: 15px;
	color:#272063;
	font-family: "Poppins", sans-serif;
	margin-left: 33px;
	
}


.form-control{

  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  max-width: 450px;
  margin-top: 5px;
}


.card-container .bouton-contact-us{

  height: 50px;
  max-width: 150px;
  border: 1px hidden black;
  margin-top: 10px;
 border-radius: 50px;
 background: #ff4745;
 margin-left: -100px; 

}


.liste-newsletter li{

	display: block;
	margin-top: -35px;
}


.card-container .card{

  margin: 0 auto;
  border: 1px hidden black;
  background: #f3f6f8;
  max-width: 1200px;
  min-height: 250px;
}

.card-container{

	margin-top: 100px;
}

.card-container .card-body{

  border: 1px hidden black;
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
  margin-left: 10px;
  margin-right: 10px;

}

.card-body .row{

	margin-top: 50px;
	margin-bottom: 20px;

}

/* ** Readjusting ** */

@media screen and (max-width: 990px) and (min-width: 320px){

	.card-container .bouton-contact-us{
		margin-left: 0px;
	}

}

/* ***** contact filed ***** */


.contact-field{

	max-width: 1200px;
	margin-top: 130px;
}

.contact-field .logo-bizzco{

	width: 135px;
}

.contact-field p{

	font-size: 16px;
	font-family: "Rubik";
	line-height: 2;
}

.contact-field ul li{

	display: block;
	margin-top: -10px;
	font-family: "Rubik";
}


.contact-field  li{

	padding: 13px;
	font-family: inherit;
}


.tr{

	width: 20%;
	margin-left: 0;
	margin-top: 20px;
	border: 1px solid lightgray;
	background: lightgray;
}


.contact-field  li h4{

	color: #512da8;
	font-size: 25px;
	font-family: "Rubik";

}

.contact-field li a{

	color:#9290a3;

}

.map{

	font-size: 20px;
	margin-top: 5px;
}

.contactus .media{

	margin-top: 10px;
	line-height: 1.5;
	font-size: 15.5px;

}

.back-contact .image-back-3{
	float: right;
	margin-right: -5px;
	margin-top: -375px;
	margin-bottom: 0;

}



.container-footer{

	margin-top: 70px;
	margin-bottom: 30px;
	font-family: "Rubik";
}

.trr{
	position: absolute;
	margin-top: 475px;
	width: 100%;
}

@media screen and (max-width: 980px) AND (min-width: 483px){
	.trr{
	position: absolute;
	margin-top: 975px;
	width: 100%;
}
}


@media screen and (max-width: 482px) and (min-width: 320px){
	.trr{
	position: absolute;
	margin-top: 1050px;
	width: 100%;
}
}



.bizzo{

	color: #272063;
	font-size: 18px;
}




.contact-field .logoparagraph + .usefulllink{

	margin-left: 60px;
}

.logoparagraph ul{

	margin-left: -30px;
}

.logoparagraph ul li{

display: inline-block;

}

.logoparagraph  li{
	
	max-width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 100%;
	border: 1px hidden black;
	background: #f3f6f8;
}

.logoparagraph  .iconn{

	position: absolute;
	margin-top: -1px;
	margin-left: -4px;
    color: gray;
}


.logoparagraph  .iconn1{

	position: absolute;
	margin-top: -1px;
	margin-left: -6px;
	color:gray;
}

.logoparagraph  li:nth-child(1){

	background: #ff4745;
}


.logoparagraph  li:hover{

	background: #ff4745;

}

/* ******* */


.textlogo ul{

	margin-left: -30px;
}

.textlogo ul li{

display: inline-block;

}

.textlogo  li{
	
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 100%;
	border: 1px hidden black;
	background: #f3f6f8;
	margin-left: 5px;
}

.textlogo .iconn{

	position: absolute;
	margin-top: -1px;
	margin-left: -4px;
    color: gray;
}


.textlogo  .iconn1{

	position: absolute;
	margin-top: -1px;
	margin-left: -6px;
	color:gray;
}

.textlogo  li:nth-child(1){

	background: #ff4745;
}


.textlogo  li:hover{

	background: #ff4745;

}


/* **** media screen for */


@media screen and (max-width: 1110px){

	.back-ourteam .image-back-3{

		display: none;
	}

.back-intelligentwebsite .image-back-3{

		display: none;
	}

.back-contact .image-back-3{

		display: none;
	}
}

.numm:nth-child(1) .numero::after{
	content:"+";
}

.numm:nth-child(2) .numero::after{
	content:"+";
}

.numm:nth-child(3) .numero::after{
	content:"k+";
}

.numm:nth-child(4) .numero::after{
	content:"%";
}


/* **** readjusting view in XL screen  ***** */

@media screen and (min-width: 2909px){

#carouselExampleFade{

	z-index: -5;
	margin-top: -174px;
}


.navbar{
	max-width: 1200px;
}


.texteetnum .media{
	margin-top: -55px;
}

.texteetnum i{
	font-size: 35px;
	margin-top: -3px;
}
.contactus .media{

		margin-top: 15px;
		
	}

 .media-body{

    	line-height: 40px;
    }

.contactus .media:nth-child(1){

	margin-top: -10px;
}

.contactus .media i{

	margin-top: 11px;
}

/* **** nav bar client contact */ 

#navbarSupportedContent .media .media-body{

	margin-top: -100px;
	line-height: 1.5;
}

/* ***** slider element ****** */

.carousel .active .carousel-caption .plan-made-title{

margin-top: -1550px;

}

.carousel-inner .active .btn{
	min-height: 60px;
}

/* ****** tout juste modifié : à la base height:80px; */
#topnavbar{
	height: 80px;
}

/* ********************** -145px ****** */
#topnavbar .btn-buy{
	margin-left: -125px; 
}

#topnavbar .btn-buy{
	
	margin-left: -145px;
}
}

@media screen and (max-width: 2965px){

.navbar{
	max-width: 1200px;
}

.contactus .media{
margin-top: 15px;
}

 .media-body{

    	line-height: 40px;
    }

.contactus .media:nth-child(1){

	margin-top: -10px;
}

.contactus .media i{

	margin-top: 11px;
}

/* **** nav bar client contact */ 

#navbarSupportedContent .media .media-body{

	margin-top: -100px;
	line-height: 1.5;
}

/* ***** slider element ****** */

.image-space{
	z-index: -5;
width: 100%;
}

.image-space img{
	margin-left: -50px;
	max-width: 1100px;
}
.carousel .active .carousel-caption .plan-made-title{

margin-top: -1550px;

}

.carousel-inner .active .btn{
	min-height: 60px;
}

}



@media screen and (min-width: 3500px){

	.texteetnum .media{
	margin-top: -55px;
}

.texteetnum i{
	font-size: 35px;
	margin-top: -5px;
}

#topnavbar{
		height: 73px;
	}

.card-container .bouton-contact-us{
		margin-top: 35px;
	}

.btn-buy{
	margin-left: -105px;
}

}


@media screen and (max-width: 3616px) and (min-width: 2971px){

	#topnavbar{
		height: 60px;
	}

}

@media screen and (max-width: 3400px) and (min-width: 2910px){

	#topnavbar{
		height: 60px;
	}
}
@media screen and (min-width: 4000px){
	
	.btn-buy{
	margin-left: -150px;
}


}
