
body{
font-family: "Titillium Web", sans-serif;
margin:0;
padding: 0;
color: #8e9696;
overflow-x: hidden;
}


/* top nav bar */

.container{
	margin-top: 250px;
}


.btn{

	background: #fe6d34;
	border-radius: 20px;
	color:white;
	height: 43px;
	
	
}

h1{
	color: #143d3c;
}

.container h1+p {
	margin-top: 30px;
}

 hr{

 	width: 90%;
 	margin-top: 60px;

 }

.card{

	 box-shadow: -5px 4px 9px 9px rgba(135, 233, 144, 0.1);
}

input{
	opacity: 0.5;
}

textarea{
	opacity: 0.5;
}

/* ********************************** top nav bar ************************************ */



#topnavbar{

     border: 1px hidden black;
	 background: #262626;
	 height: 60px;
	 width: 100%;
	 
}

/* logobrand*/


.logo-brand{
     	
	margin-top: 10px; 
	margin-left: 150px;
	float: left;

}


.buy-button{

	float: right;
	margin-top: 12px;
}

.remove-frame{
	
	float: right;
	margin: 10px;
	border-left: 1px solid lightgray;
}


.topnavbar .removeframe{

	font-size: 13px;
}


.listend{

	border-left:1px solid lightgray;

}

.topnavbar .logo{

	margin-top: -15px;

}



@media screen and (max-width: 1155px){

.topnavbar .framelink .removeframe{

	display: none;

}

}

.btn-buy{

	border-radius:4px;
	background: green;
	height: 35px;
	font-size: 15px;
	max-width: 100px;
	position: absolute;
	margin-left: -85px;

}

.btn-buy .buynow{
	margin-top: -15px;

}



@media screen and (max-width: 1590px){

   .topnavbar{
   	width: 100%;
   }

   .remove-frame span{
   	display: none;
   }

}

/* *** correction the position of logo on the top navbar *** */

@media screen and (max-width: 1645px){
	.logo-brand{
		
		margin-left: -40px;
	}
}

/* ** button hamburger ** */

.contnav .navbar-toggler i{
	margin-left: 25px;
	background: #fe6d34;
	font-size: 35px;
	margin-top: -5px;
}

.navbar-toggler{
	border: none;
	background: white;
}

/* ********************************** second nav bar ********************************* */

.corp{

	border: 1px solid black;
	height: 1500px;
	overflow-x: hidden;
	margin: 0 auto;
	margin-top: 20px;

}

.navbar{

	margin: 0 auto;
	height: 80px;
    background: white;
}

.navbar .container{

	margin-top: 100px;
}

.center-content li{

	padding: 13px;
	font-size: 20px;
}


.icon{

	font-size: 45px;
	margin-left: 50px;
	margin-top: -10px;
	color:  #fe6d34;
}



.back-image{

	margin-top: -600px;
	transform: rotate(90deg);
	margin-left: -185px;
	z-index: -10;
	position: absolute;
}




/* hiddinf contact number */
@media screen and (max-width: 1752px){

	.icon{
		display: none;
	}
	
	.needhelp{
		display: none;
	}
}


/* ************************** Slider section: a full service creative *********************  */


ul li{
	display: inline;
	padding: 30px;
}


.needhelp{
	position: absolute;
	margin-left: 920px;
	margin-top: -85px;

}

.full-service-title{

  font-size: 75px;
  color: black;
}



/* ***********  section: we made plan and we do success our plan ************ */

.section-made-plan{
	margin-top: 250px;
}

.plan-made-title{

font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 36px;
color: #272063;
margin-top: 50px;
font-weight: bolder;

}

.under-plan{
	color: red;
}

.under-plan span{
	color: #272063;
}

.texte-section-made-plan{

	font-size: 19px;
	margin-top: 20px;
	line-height:35px;
	margin-left: 75px;
}


.navcontainer{

	border: 1px solid black;
	height: 190px;
	max-width: 65%;
	margin-top: 10px;

}

/* ********** Global Network ******* */

.cards{
	margin-top: 50px;
}

.title-1{

	font-size: 21px;
	color: #272063;
}


.cards span i{
	font-size: 37px;
	color:  #ff4745;
    transform: scale(1);
}

.cards a{

	text-decoration: none;
	color: lightgray;
}

.title-1:hover{

	color: #ff4745;
}

.cards span i:hover{
	transform: scale(1.1);
}

.image-back-1{
	
    float: right;
	margin-top: -190px;
	z-index: -5;
}

/* ***** hidding image-back-1 ***** */

@media screen and (max-width: 1222px){
	.image-back-1{
		display: none;
	}
}